@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at bottom, #01010f 0%, #000000 50%);
  font-family: 'Orbitron', sans-serif;
}
